//==================== Base
    $primary-color:#D93D59;
    $background-color: #362739;
    $text-color: #FFFFFF;

//==================== Secondary
    $secondary1: #60BF93; // Green
    $secondary2: #076DF2; // Blue
    $secondary3: #F2B872; // Yellow

//==================== Transparent
    $transparent: transparent;
    $transparentBlack: rgba(36, 36, 36, 0.2);
    $transparentViolet: rgba(54, 39, 57, 0.2);
    $transparentYellow: rgba(242, 184, 114, 0.5);
    $transparentRed: rgba(217, 61, 89, 0.5);

//==================== Light
    $lightGreen: #95EAC3;
    $lightYellow: #F5C48A;
    $lightRed: #F05874;
    $lightBlue: #3C8BF3;
    $lightGray: #A5A5A5;

//==================== Dark
    $darkViolet: #3F324C;
    $darkGreen: #60BF93;

//==================== Others
    $red: #D93D59;
    $green: #60BF93;
    $blue: #076DF2;
    $yellow: #F2B872;
    $gray: #707070;
