//==================== Font sizes
    $largeTitle: 40;
    $h1: 26;
    $h2: 24;
    $h3: 18;
    $h4: 16;
    $p: 14;
    $small: 10;

//==================== Shape
    $small_radius: 19;
    $medium_radius: 20;
    $normal_radius: 24;
    $big_radius: 35;
    $large_radius: 56;
